{% extends 'base.html' %} {% block content %}

<h1>Book Details</h1>

<div class="card">
  <div class="center">
    <span class="card-title">{{book.title}}</span>
    <div>
      {% load static %}
      <img
        src="{% static book.image|cut:'main_app/static' %}"
        width="100px"
        height="100px"
      />
    </div>
    <p>Published in {{book.publication}}</p>
    <p>Price: {{book.price}} BD</p>
    <p>
      Description: <br />
      {{book.description}}
    </p>
  </div>
  <div class="card-section">
    <a href="{% url 'book_update' book.id %}">Edit</a>
  </div>

  <div class="card-section">
    <a href="{% url 'book_delete' book.id %}">Delete</a>
  </div>
</div>

<div class="col s6">
    <h4>Add a Purchase</h4>
  <form action="{% url 'add_purchase' book.id %}" method="post">
    {% csrf_token %} {{ purchase_form.as_p }}
    <input type="submit" class="btn" value="AddPurchase" />
  </form>

  <h3>Purchase History</h3>
  <table class="striped">
    <thead>
      <tr>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in book.purchase_set.all %}
      <tr>
        <td>{{ purchase.purchase_date }}</td>
      </tr>
      {% empty %}
      <tr>
        <td>No purchase history available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  var dateEl = document.getElementById('id_date')
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  })
  let selectEl = document.getElementById('id_meal')
  M.FormSelect.init(selectEl)
</script>
{% endblock %}
